* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./assesets/preview1.jpg);
  font-family: cursive;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 40px;
  text-align: center;
}

/* .form-div {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin: 0 auto;
  width: 460px;
} */

.JD-form {
  margin: 10px auto;
  border-radius: 7px;
  width: 460px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
}

.cont-div {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.cont-div label {
  color: wheat;
  width: 104px;
}

.btn-pd {
  padding-bottom: 10px;
}
button {
  border-radius: 5px;
  border: none;
  width: 50px;
  padding: 3px;
  background-color: #e693a3;
  font-family: cursive;
}
.enter-box {
  border: none;
  width: 160px;
  background-color: beige;
  border-radius: 6px;
  padding: 5px;
}

.big-textarea {
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
}
.big-textarea label {
  width: 104px;
  color: wheat;
}

#big-textbox {
  border: none;
  font-size: small;
  width: 160px;
  background-color: beige;
  border-radius: 6px;
  padding: 5px;
  height: 85px;
}

/* 2nd div style */
.grid-container {
  display: grid;
  display: flex;
  padding: 20px;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.dairy-PG {
  width: 300px;
  border-radius: 5px;

  height: 100%;
}

.top-div {
  display: flex;
  justify-content: space-between;
  background-color: #c7c3fe;
  font-size: small;
}

.mid-div {
  font-size: small;
  color: #8676d8;
  background-color: white;
}

.btm-div {
  background-color: #c4c0fa;
}

.bd-rd {
  border-color: #e48ec5;
  border-style: solid;
}

.bd-rd-bt {
  border-bottom: solid #e48ec5;
}
.p-2 {
  padding: 4px;
}

@media (max-width: 460px) {
  .JD-form {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 530px) {
  .JD-form {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: medium;
  }
  .cont-div label {
    width: 30%;
    font-size: small;
  }
  .enter-box {
    width: 50%;
    font-size: small;
  }

  .big-textarea label {
    width: 30%;
    font-size: small;
  }

  #big-textbox {
    width: 50%;
    font-size: small;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: medium;
  }
  .cont-div label {
    width: 30%;
    font-size: small;
  }
  .enter-box {
    width: 50%;
    font-size: small;
  }

  .big-textarea label {
    width: 30%;
    font-size: small;
  }

  #big-textbox {
    width: 50%;
    font-size: small;
  }
}

/* grid-container */
@media (max-width: 1047px) {
  .grid-container {
    grid-template-columns: 2 1fr;
    flex-wrap: wrap;
    width: 90%;
  }
}
